<div class="container">
    <div>
        <h1 class="text-center">Welcome to my video player</h1>
    </div>
    <div class="row">
        <app-search-bar (newSearch)="onNewSearch($event)" class="col-md-12 justify-content-center"></app-search-bar>
    </div>
    <div class="row">
        <div class="col-8">
            <app-video-view [video]="currentVideo"></app-video-view>
            <div *ngIf="currentVideo" class="favorite">  
                <button (click)="bookmark()"  mat-icon-button>
                    <mat-icon>favorite{{currentVideo.isBookmarked ? "":"_border"}}</mat-icon>
                </button>
            </div>
        </div>
        
        
        <div class="col-4">
            <ul class="nav nav-pills">
                <li class="nav-item">
                  <button class="nav-link {{sideBarType === eSidebarType.History ? 'active' : ''}}" 
                  aria-current="page" (click)="toggle(eSidebarType.History)">History</button>
                </li>
                <li class="nav-item">
                    <button [matBadge]="bookmarked" class="nav-link {{sideBarType === eSidebarType.Bookmarks ? 'active' : ''}}" aria-current="page" (click)="toggle(eSidebarType.Bookmarks)">Bookmarks</button>
                </li>
            </ul>
            <app-history  (loadVideo)="onLoadVideo($event)" [hidden]="sideBarType !== eSidebarType.History"></app-history>
            <app-bookmarks (loadVideo)="onLoadVideo($event)" (newBookmark)="onBookmarked($event)"[hidden]="sideBarType !== eSidebarType.Bookmarks"></app-bookmarks>

        </div>
    </div>
</div>